// Import Bootstrap source files
@import "~bootstrap/scss/bootstrap";

// Your custom variables
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Override Bootstrap's theme-colors with your custom variables
$theme-colors: (
  "primary": black,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Import the rest of your custom styles
@import "custom-styles";
